<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="../static/css/main.css">

</head>
<body bgcolor=#e6e6fa>
   <h1>ABOUT US</h1>
   <img src="../static/images/pic2.jpg" alt="Picture here" class="center">
   <p>Since our modest beginnings in 2005 with a little space in Hudson Lane of Kolkata, Rico's development has been enlivened with the energy to cook and serve solid, Indian-roused takeout food. In contrast to other Indian eateries,Rico's was made with the explicit expectation to appear as something else.</p>
   <p>We realize numerous individuals love Indian sustenance, yet a large number of them loathe or are unconscious of the regularly unfortunate fixings that make run-of-the-mill Indian nourishment taste so great. Our menu highlights things that utilization the sound and fragrant flavors, however forgets the stuffing ghee, spread, oil, and overwhelming cream.</p>
   <h4>DISCLAIMER</h4>
   <p>Our disclaimer is that on the off chance that you’re anticipating overwhelming, slick, undesirable Indian nourishment, Rico's isn’t the place for you. Our expectation is that you’ll join the developing pattern that such a large number of others have officially found and you will attempt Rico's as a remarkable option to other Indian eateries as well as to all other solid sustenance alternatives out there!</p>
   
  </body>
</html>
