<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body bgcolor="#348781"
  <div class="container">
      <div class="row-flex">
        <div class="flex-column-form">
          <h1>
            MAKE A BOOKING!
          </h1>
          <form action="">
           <p>
            Please leave your number we will call to make a reservation
          </p>
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="number">Contact Number</label>
          <input type="number"id="exampleInputphoneNumber1" placeholder="Enter your phone number">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
   </div>
   <img src="../static/images/reserve.jpg" alt="Picture here" class="center">
</body>
</html>
