<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="../static/css/main.css">
</head>
<body bgcolor="#d2b48c">

    <h2>WELCOME TO RICO'S</h2>
    <h3>WHY CHOOSE US</h3>
    <p>Our creative,elevated food and beverage program combines satisfying staples with imaginative twists. From boozy brunches to family dinners, special occasions and everything in between. The Rico's has something for everyone</p>
    
    <img src="../static/images/pic.jpeg" alt="Picture here" class='center'>
    <div class="opening-time">
        <h3>
          Opening Times 
        </h3>
        <p>
         <span>Monday—Thursday: 8am to 11pm</span> 
        </p>
        <p>
         <span>Friday—Saturday: 9am — 11pm </span>
        </p>
        <p>
         <span>Sunday: 10am to 11pm</span>
        </p>
      </div>
      <div class="contact-adress">
        <h3>
          Contact Us
        </h3>
        <p>
          <span>Call us on : 04712443576</span>
        </p>
        <p>
          <span>Address : Block-32,Ground Floor,Hudson Line</span>
          <span>Kolkata-700001</span>
        </p>
      </div>
</body>
</html>
